<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-12">
      <div class="container">
        <div class="row">
          <h1>My Weather App</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button routerLink="/home" class="btn btn-primary">
            Home
          </button>
        </div>
        <br>
        <div class="col-lg-6">
          <button routerLink="/setting" class="btn btn-primary">
            Settings
          </button>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>
</div>